<div class="container">
  <div class="privacy-policy about-us">
    <div class="row">
      <div class="col-sm-1 col-xs-1"></div>
      <div class="col-sm-11 col-xs-10">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>About Us</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 col-xs-1"></div>
      <div class="col-sm-9 col-xs-10">
        <div class="terms">
          <div>
            <h5>What is peershape?</h5>
            <p>
              PeerShape is a tool to help political campaigns mobilize and manage their volunteers. Our primary focus is on increasing volunteer engagement. With an efficient ground game and strong data, we can revolutionize campaigns. The life of a campaign is positively impacted on day one and remains positively impacted for the candidate's entire political career. Our primary objectives are to
            </p>
            <ul>
              <li>
                Mobilize the right volunteer for the right job
              </li>
              <li>
                Make campaigns continuous and permanent
              </li>
              <li>
                Retain institutional memory across campaigns 
              </li>
            </ul>
          </div>
          <div>
            <h5>Problems with current campaigns</h5>
            <ul>
              <li>
               Time: Campaign starts 2 years ahead but it takes 6 to 9 months to get volunteers.
              </li>
              <li>
                Quality: Campaign is in serious trouble if it ends up with ineffective or wrong volunteers.
              </li>
              <li>
                Retention: Once the campaign in over, all the volunteers and their knowledge is gone.
              </li>
            </ul>
          </div>
          <div>
            <h5>The PeerShape Solution</h5>
            <ul>
              <li>
              Match: Start the campaign with the right volunteers from day 1. Match the right volunteers with the right projects, based on interest, experience, &   partisanship. Volunteers can contribute time, materials, and money as required.
            </li>
              <li>
              Mobilize: Manage the ground in real-time. Deploy the right volunteers to the right neighborhood or even to help colleagues in trouble. Make it easy for volunteers to organize and execute their activities.
            </li>
              <li>
              Retain: When the campaign ends, all information is retained and it keeps growing till the next election starts, everything from which volunteer dropped-off to what each volunteer was passionate about and contributed to.
            </li>
            </ul>
          </div>
          <div>
            <h5>Team Location</h5>
            <p>
            We are a diverse team based in Denver, Colorado.
          </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-xs-1"></div>
    </div>
  </div>
</div>