<div class="container">
	<div class="privacy-policy contact-us">
		<div class="row">
			<div class="col-sm-1 col-xs-1"></div>
			<div class="col-sm-11 col-xs-10">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h4>Contact Us</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 col-xs-1"></div>
			<div class="col-sm-11 col-xs-10">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h5>PeerShape, LLC</h5>
						<p class="date-m">Last Modified: <span>July 10, 2016</span></p>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-1 col-xs-1"></div>
			<div class="col-sm-9 col-xs-10">
				<div>
					We are here to answer any questions you may have about our mobile app experiences. Reach out to us and we'll respond as soon as we can.
				</div>
				<br />
				<div>
					Even if you want to be part of this campaign, please let us know and we promise we'll take you onboard of proud volunteers.
				</div>
				<br />
				<div>
					You can contact us at

					<a href="mailto:info@peershape.com?Subject=" target="_self">info@peershape.com</a>
				</div>
			</div>
			<div class="col-sm-2 col-xs-1"></div>
		</div>
	</div>
</div>