<div class="container" ng-controller = "signinCtrl as signin">
  <div class="page-margin">
    <div id="page-layout">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-sm-offset-4 center-column">
          <div class="panel panel-default panel-custom">
            <div class="panel-body panel-rpassword">
              <h3>Forgot Password</h3>
              <form name= "resetpwdForm">
                <div class="form-group">
                  <input type="text" name="email" class="form-control form-custom"  autocomplete="off" placeholder="Email Address" ng-model ="signin.resetpwdForm.email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-change ="signin.clearfrm()" required>

                  <span style="color:#a94442" ng-show="resetpwdForm.email.$error.pattern && signin.submitform" ng-init='signin.emailErr = true' class="error_msg_forgotp">Please enter a valid email address</span>

                  <span style="color:#a94442" ng-show="resetpwdForm.email.$error.required && signin.submitform && resetpwdForm.email" class="error_msg_forgotp" >Please enter your email address</span>
                </div>
                <br>
                <p>You will receive an email if you have an account with us.</p>
                <br>
                <button type="button" class="btn btn-primary btn-primary-custom btn-block" value="Reset my password" name="commit" ng-click = "signin.pwdreset()">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>