<div class="container">
	<div class="manage-volunteers">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-10 col-sm-offset-2 col-xs-offset-1">
				<h4>Manage Volunteers</h4>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>
									<input type="checkbox" value=""/>
								</th>
								<th></th>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="checkbox" value=""/>
								</td>
								<td>
									<img class="v-pic" alt="Profile Picture" src="images/dp.png">
								</td>
								<td>Jane Honey</td>
								<td>jane_honey@gmail.com</td>
								<td>
									<a href=""><img src="images/icon-delete.png"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>
</div>