<div class="container" ng-controller = "signinCtrl as signin">
	<div class="page-margin">
		<div id="page-layout">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-sm-offset-4 center-column">
					<div class="panel panel-default panel-custom">
						<div class="panel-body panel-rpassword">


               <div class="flashMsg" ng-show ="signin.flashmsg">
            Your password has been successfully reset!
          </div>

							<h3>Reset Password</h3>
							<form>
								<div class="form-group">
									<input type="password" name="password"class="form-control form-custom" id="Reset-password" placeholder="Password" ng-model="signin.password" ng-change = "signin.clearfrm();" required>

                  <span ng-show= "!signin.password.length && signin.done" class="control-label errormsg" for="inputError">Please enter your password</span>
								</div>
								<div class="form-group">
									<input type="{{signin.inputType}}" name="Cpassword"class="form-control form-custom" id="Confirm-password" ng-model="signin.password_confirmation" ng-change = "signin.clearfrm();" placeholder="Confirm Password" ng-change = "signin.clearfrm();" required>

                  <span ng-show="!signin.password_confirmation.length && signin.done" class="error_message_signup errormsg">Please enter Confirmpassword</span>

                  <span ng-show="signin.IsMatch && signin.done" class="error_message_signup errormsg">Password does not match</span>

									<a class="show-text" href="" ng-click="signin.togglePwd()">Show</a>
								</div>
								<button type="button" class="btn btn-primary btn-primary-custom btn-block" ng-click = "signin.submit(); signin.done = true">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>