<div class="container">
    <div class="page-margin">
        <div id="page-layout">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 col-sm-offset-4 center-column">
                    <div class="panel panel-default panel-custom">
                        <div class="panel-body successful-page">
                            <p>Your password reset was successful</p>
                            <form>
                                <button type="button" class="btn btn-primary btn-primary-custom btn-block">Log in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>