<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<a href="#">
					<img alt="Peershape Logo" class="logo-footer img-responsive" src="images/logo_footer.png">
				</a>
			</div>
			<div class="col-sm-4 footer-pad-top">
				©2016.&nbsp;&nbsp;PeerShape.com.&nbsp;&nbsp;All rights reserved.
			</div>
			<div class="col-sm-6 footer-pad-top text-right">
				<ul>
					<li>
						<a href="#aboutUs">about us</a>|

					</li>
					<li>
						<a href="#contactUs">Contact</a>|
					</li>
					<li>
						<a href="#terms">Terms</a>|

					</li>
					<li>
						<a href="#privacy">Privacy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>