<nav class="navbar navbar-inverse navbar-static-top navbar-inverse-custom" data-spy="affix"  ng-controller = "HeaderCtrl as header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand myLogo" href="">
        <img src="images/logo.png" class="img-responsive" alt="Peershape Logo">
      </a>
    </div>

    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>